html  {
background: url("pencils.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;     
      }
	  
.primary-text {
font-family:Raleway;
background-color: #BFC9CA;
text-align: center;
width: 400px;
margin: auto;
border-radius: 10px;
padding: 25px;
}